[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vimplugin/taglist.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
